$dark-blue: #194484
$medium-blue: #0D6EB7
$medium-blue2: #276ED8
$light-blue: #84B5FF
$dark-green: #06B25F
$light-green: #66D6A0
$dark-grey: #242424
.anycolor
    background-color: #fff
%h1-style
    font-family: Harabara
    font-style: normal
    font-weight: bold
    font-size: 44px
    line-height: 60px
    letter-spacing: 0.06em
    text-transform: uppercase
    color: #fff
%p-style
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 26px
    color: #FFFFFF
%button-style
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 36px
    Width: 160px
    Height: 42px
    display: flex
    align-items: center
    justify-content: center
    text-transform: uppercase
    color: #fff
    box-sizing: border-box
    border: 2px solid #fff
    box-sizing: border-box
    border-radius: 6px
    text-decoration: none
    background: transparent
    transition: all 300ms ease-in-out
    &:hover
        background: $dark-green
        transition: all 300ms ease-in-out
%font-style-li
    font-family: Montserrat
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 36px
    display: flex
    align-items: center
    text-transform: uppercase
    color: #FFFFFF

body
    font-family: Montserrat
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 26px
    color: #242424
.wrapper
    max-width: 1330px
    margin: auto
    padding-left: 15px
    padding-right: 15px

.top-header
    background: rgba(33, 33, 33, 0.3)
    box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1)
    width: 100%
    text-align: center
    padding-top: 14px
    padding-bottom: 14px
    position: fixed
    top: 0
    z-index: 1
    transition: all 200ms ease-in-out

.header-nav
    margin: 0 auto
    max-width: 1360px
    display: flex
    align-items: center
    justify-content: space-between
    .logo
        width: 208px
        height: 52px
        background-size: cover
        background: url(/img/logo.png) no-repeat

.nav ul
    display: flex
    align-items: center
    justify-content: space-between
    li
        margin: 0 12px
        &:nth-child(1) a:after, &:nth-child(2) a:after, &:nth-child(6) a:after
            content: ''
            background: url(/img/arrow-down.svg)
            width: 10px
            height: 6px
            margin-left: 5px
        a
            @extend %font-style-li
            text-decoration: none
            &:hover
                color: $light-blue
                transition: all 300ms ease-in-out

.white-button
    @extend %button-style

.slider-container
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
.slider-content
    position: relative
    width: 50%
    bottom: 80px

    .slide-title
        @extend %h1-style
    p
        @extend %p-style
        margin-bottom: 40px
.header-buttons
    display: flex
    align-items: center
    .buttons
        margin-right: 24px
        &:last-child a
            background: $dark-green
        &:last-child a:hover
            background: #0b9854

.slider-img
    img
        width: 100%

.new
    background: rgba(255, 255, 255, 0.9)
    transition: all 200ms ease-in-out

    .logo
        background: url(/img/logo2.png)
        width: 208px
        height: 52px
        background-size: cover

    .white-button
        border-color: $dark-green
        color: $dark-green
        &:hover
            background-color: $dark-green
            color: #fff
    li a
        color: $dark-blue !important
        transition: all 200ms ease-in-out

.slick-dots
    display: flex
    justify-content: space-between
    width: 100px
    height: 20px
    li button
        border: 3px solid #fff
        border-radius: 100%
        box-sizing: border-box
        width: 20px
        height: 20px
        font-size: 0
        background: transparent
        transition: all 300ms ease-in-out
        &:hover
            opacity: 0.9
            transition: all 300ms ease-in-out
.slick-active button
    background: #fff !important
.technologies
    text-align: center
    margin-bottom: 220px
.technologies-img
    display: flex
    justify-content: center

.technologies-icon
    background: #06B25F
    box-shadow: 0px 4px 12px rgba(41, 24, 111, 0.2)
    border-radius: 16px
    width: 64px
    height: 64px
    text-align: start
    margin: 40px
    &:nth-child(2)
        background: $medium-blue2
        img
            margin-left: 16px
    &:nth-child(3)
        background: $light-blue
        img
            margin-left: 12px
    img
        margin-left: 15px
        margin-top: 12px
.title
    font-family: Harabara
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 39px
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #194484
    margin-bottom: 60px
.box-title
    width: 900px
    margin: 0 auto
.subtitle
    font-weight: normal
    font-size: 24px
    line-height: 38px
    color: #242424
.stan
    font-weight: bold
    color: #00A4E8
.assets
    font-weight: bold
    color: $dark-blue
    background:
.reviews
    display: flex
    justify-content: space-evenly
    align-items: center
    background: #FFFFFF
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15)
    border-radius: 16px
    max-width: 900px
    margin: 0 auto
    margin-bottom: 50px
.rating
    display: flex
    align-items: center
    font-size: 40px
    line-height: 0.75
    .rating-value
        margin-top: 3px
        margin-right: 15px
        font-weight: 600
        font-size: 18px
        line-height: 38px
        text-transform: uppercase
        color: #242424
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    .rating-body
        position: relative
    .rating-body::before
        content: "★★★★★"
        display: block
        color: #E1E1E1
    .rating-active
        position: absolute
        overflow: hidden
        width: 0%
        height: 100%
        top: 0
        left: 0
    .rating-active::before
        content: "★★★★★"
        position: absolute
        display: block
        width: 100%
        height: 100%
        top: 0
        left: 0
        color: $dark-green
    .rating-items
        display: flex
        position: absolute
        width: 166px
        height: 100%
        top: 0
        left: 0
    .rating-item
        flex: 0 0 20%
        height: 100%
        opacity: 0
.reviews-count
    font-size: 16px
    line-height: 26px
    color: $dark-grey
    margin-left: 15px

.check-out-button
    .white-button
        background: $dark-green
        width: auto
        padding: 0 13px
.services
    text-align: center
    margin-bottom: 23px
.container
    margin: 0 auto
    flex-wrap: wrap
    display: flex
    max-width: 1130px
    .service-item
        display: flex
        justify-content: space-between
        align-items: center
        width: 90%
        margin-bottom: 41px
        &:nth-child(even)
            flex-direction: row-reverse
        .service-text
            text-align: left
            width: 45%
            p
                @extend %p-style
                color: $dark-grey
            h3
                font-family: Harabara
                font-style: normal
                font-weight: bold
                font-size: 24px
                line-height: 38px
                letter-spacing: 0.05em
                text-transform: uppercase
                color: $medium-blue
                margin-bottom: 4px
        .service-svg
            width: 45%
.partner
    text-align: center
    background: url(/img/partner-bg.png) center center no-repeat
    height: 700px
    background-size: 100%
    display: flex
    justify-content: center
    flex-direction: column

    .link
        display: flex
        justify-content: center
    .white-button
        color: $dark-green
        border-color: $dark-green
        background-color: #fff
        &:hover
            transition: 300ms all ease-in-out
            background-color: $dark-green
            color: #fff
.partner-container
    margin: 0 auto
    padding-bottom: 80px
    .title
        color: #fff
        margin-bottom: 16px
    .subtitle
        color: #fff
        margin-bottom: 36px
.achievements
    text-align: center
.achive-list
    display: flex
    justify-content: space-between
    align-items: center
    height: 400px
    max-width: 1360px
    margin: 0 auto
    margin-bottom: 130px
    .achive-item
        width: calc( 25% - 25px )
        background-color: rgba(47, 156, 330, 0.05)
        border-radius: 16px
        height: 100%
        display: flex
        align-items: end
        justify-content: center
        box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15)
    .a1
        background: url(/img/achive_bg1.svg) center center no-repeat
        background-color: rgba(47, 156, 330, 0.05)
    .a2
        background: url(/img/achive_bg2.svg) center center no-repeat
        background-color: rgba(47, 156, 330, 0.05)
    .a3
        background: url(/img/achive_bg3.svg) top center no-repeat
        background-position-y: 40px
        background-color: rgba(47, 156, 330, 0.05)
    .a4
        background: url(/img/achive_bg4.svg) center center no-repeat
        background-color: rgba(47, 156, 330, 0.05)
    .achive-text
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 26px
        color: $dark-grey
        margin: 270px 24px 24px 24px
        max-width: 280px
        p
            height: 100px
        span
            color: $medium-blue2
            font-weight: bold
.partners
    text-align: center
    background: url(/img/partner_bg.png) center center no-repeat
    background-size: 100% 100%
    height: 1420px

    .title
        padding-top: 250px

    .partner-list
        max-width: 1360px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin: 0 auto
        .partner-item
            width: 322px
            height: 160px
            background: #FFFFFF
            box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1)
            border-radius: 16px
            margin-bottom: 40px
            display: flex
            align-items: center
            justify-content: space-evenly

.contacts
    text-align: center
    .subtitle
        font-family: Montserrat
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 29px
        text-align: center
        color: #242424
        margin-bottom: 20px
    h5
        margin-bottom: 110px
.contacts-section
    margin: 0 auto
    max-width: 1360px
    display: flex
    justify-content: space-around
    margin-bottom: 170px
.contacts-right
    width: 40%
    position: relative
.contacts-left
    width: 40%
.contact-item
    display: flex
    align-items: center
    margin-bottom: 24px
    p
        margin-left: 16px
.form
    display: flex
    flex-direction: column
.contact-form
    position: relative
    margin: 0 auto
    width: 70%
    padding: 50px 40px 0 40px
    background: #FFFFFF
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15)
    border-radius: 6px
    .button
        margin-top: 10px
        margin-bottom: 70px
        background: $dark-green
        width: 100%
        &:hover
            background: $light-green
        &:focus
            background: $dark-blue
    .form-input
        background: #FFFFFF
        border: 2px solid #D7D7D7
        box-sizing: border-box
        border-radius: 4px
        padding: 10px 0 10px 15px
        margin-bottom: 20px
        transition: all 300ms ease-in-out
        &:focus
            border-color: $dark-green
    textarea
        outline: none
        resize: none
.animate-1
    animation: 3s ease-in-out 1s infinite alternate ani1
    @keyframes ani1
        to
            margin-left: -15%
            margin-top: -15%
.animate-2
    animation: 3s ease-in-out 1s infinite alternate ani2
    @keyframes ani2
        to
            margin-right: -15%
            margin-top: -15%
.animate-3

    animation: 3s ease-in-out 1s infinite alternate ani3
    @keyframes ani3
        to
            margin-left: -15%
            margin-bottom: -15%

.ani1

    position: absolute
    top: -35px
    left: -35px

.ani2
    position: absolute
    right: -35px
    top: -35px
.ani3
    position: absolute
    bottom: -35px
    left: -35px
.footer-logo
    margin-bottom: 25px
.footer-socials
    text-align: center
    display: flex
    align-items: center
    flex-wrap: wrap
    a
        text-align: start
        width: calc( 33% - 25px )
        margin-right: 15px
        margin-bottom: 25px

    svg
        fill: #fff
        transition: all 300ms ease-in-out
    svg:hover
        fill: $light-green
        transition: all 300ms ease-in-out

footer
    background: url(/img/footer-bg.png) center center no-repeat
    background-size: 100% 100%
    height: 700px

    .footer-block
        margin-top: 350px
    ul
        li
            margin-bottom: 3px
    .footer-logo
    a
        font-size: 13px
        line-height: 13px
        letter-spacing: 0.07em
        color: #FFFFFF
        &:hover
            text-decoration: underline

    .footer-title
        font-family: Harabara
        font-style: normal
        font-weight: bold
        font-size: 15px
        line-height: 15px
        letter-spacing: 0.07em
        color: #FFFFFF
        margin-bottom: 20px
        .title-href
            font-family: Harabara
            font-style: normal
            font-weight: bold
            font-size: 15px
            line-height: 15px
            letter-spacing: 0.07em
            color: #FFFFFF

    .container
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin: 0 auto
a
    text-decoration: none

.footer-line-item
    width: 15%
    margin: 20px 0
    &:nth-child(1)
        width: 70%
    a
        color: $dark-grey
        