@charset "UTF-8";
.anycolor {
  background-color: #fff;
}

.slider-content .slide-title {
  font-family: Harabara;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.slider-content p, .container .service-item .service-text p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.white-button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  Width: 160px;
  Height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 6px;
  text-decoration: none;
  background: transparent;
  transition: all 300ms ease-in-out;
}

.white-button:hover {
  background: #06B25F;
  transition: all 300ms ease-in-out;
}

.nav ul li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #242424;
}

.wrapper {
  max-width: 1330px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.top-header {
  background: rgba(33, 33, 33, 0.3);
  box-shadow: 0px 4px 12px rgba(24, 9, 96, 0.1);
  width: 100%;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.header-nav {
  margin: 0 auto;
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav .logo {
  width: 208px;
  height: 52px;
  background-size: cover;
  background: url(../img/logo.png) no-repeat;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul li {
  margin: 0 12px;
}

.nav ul li:nth-child(1) a:after, .nav ul li:nth-child(2) a:after, .nav ul li:nth-child(6) a:after {
  content: '';
  background: url(../img/arrow-down.svg);
  width: 10px;
  height: 6px;
  margin-left: 5px;
}

.nav ul li a {
  text-decoration: none;
}

.nav ul li a:hover {
  color: #84B5FF;
  transition: all 300ms ease-in-out;
}

.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slider-content {
  position: relative;
  width: 50%;
  bottom: 80px;
}

.slider-content p {
  margin-bottom: 40px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons .buttons {
  margin-right: 24px;
}

.header-buttons .buttons:last-child a {
  background: #06B25F;
}

.header-buttons .buttons:last-child a:hover {
  background: #0b9854;
}

.slider-img img {
  width: 100%;
}

.new {
  background: rgba(255, 255, 255, 0.9);
  transition: all 200ms ease-in-out;
}

.new .logo {
  background: url(../img/logo2.png);
  width: 208px;
  height: 52px;
  background-size: cover;
}

.new .white-button {
  border-color: #06B25F;
  color: #06B25F;
}

.new .white-button:hover {
  background-color: #06B25F;
  color: #fff;
}

.new li a {
  color: #194484 !important;
  transition: all 200ms ease-in-out;
}

.slick-dots {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 20px;
}

.slick-dots li button {
  border: 3px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  font-size: 0;
  background: transparent;
  transition: all 300ms ease-in-out;
}

.slick-dots li button:hover {
  opacity: 0.9;
  transition: all 300ms ease-in-out;
}

.slick-active button {
  background: #fff !important;
}

.technologies {
  text-align: center;
  margin-bottom: 220px;
}

.technologies-img {
  display: flex;
  justify-content: center;
}

.technologies-icon {
  background: #06B25F;
  box-shadow: 0px 4px 12px rgba(41, 24, 111, 0.2);
  border-radius: 16px;
  width: 64px;
  height: 64px;
  text-align: start;
  margin: 40px;
}

.technologies-icon:nth-child(2) {
  background: #276ED8;
}

.technologies-icon:nth-child(2) img {
  margin-left: 16px;
}

.technologies-icon:nth-child(3) {
  background: #84B5FF;
}

.technologies-icon:nth-child(3) img {
  margin-left: 12px;
}

.technologies-icon img {
  margin-left: 15px;
  margin-top: 12px;
}

.title {
  font-family: Harabara;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 39px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #194484;
  margin-bottom: 60px;
}

.box-title {
  width: 900px;
  margin: 0 auto;
}

.subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  color: #242424;
}

.stan {
  font-weight: bold;
  color: #00A4E8;
}

.assets {
  font-weight: bold;
  color: #194484;
}

.reviews {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
  border-radius: 16px;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 40px;
  line-height: 0.75;
}

.rating .rating-value {
  margin-top: 3px;
  margin-right: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  text-transform: uppercase;
  color: #242424;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rating .rating-body {
  position: relative;
}

.rating .rating-body::before {
  content: "★★★★★";
  display: block;
  color: #E1E1E1;
}

.rating .rating-active {
  position: absolute;
  overflow: hidden;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating .rating-active::before {
  content: "★★★★★";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #06B25F;
}

.rating .rating-items {
  display: flex;
  position: absolute;
  width: 166px;
  height: 100%;
  top: 0;
  left: 0;
}

.rating .rating-item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.reviews-count {
  font-size: 16px;
  line-height: 26px;
  color: #242424;
  margin-left: 15px;
}

.check-out-button .white-button {
  background: #06B25F;
  width: auto;
  padding: 0 13px;
}

.services {
  text-align: center;
  margin-bottom: 23px;
}

.container {
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  max-width: 1130px;
}

.container .service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 41px;
}

.container .service-item:nth-child(even) {
  flex-direction: row-reverse;
}

.container .service-item .service-text {
  text-align: left;
  width: 45%;
}

.container .service-item .service-text p {
  color: #242424;
}

.container .service-item .service-text h3 {
  font-family: Harabara;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #0D6EB7;
  margin-bottom: 4px;
}

.container .service-item .service-svg {
  width: 45%;
}

.partner {
  text-align: center;
  background: url(../img/partner-bg.png) center center no-repeat;
  height: 700px;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.partner .link {
  display: flex;
  justify-content: center;
}

.partner .white-button {
  color: #06B25F;
  border-color: #06B25F;
  background-color: #fff;
}

.partner .white-button:hover {
  transition: 300ms all ease-in-out;
  background-color: #06B25F;
  color: #fff;
}

.partner-container {
  margin: 0 auto;
  padding-bottom: 80px;
}

.partner-container .title {
  color: #fff;
  margin-bottom: 16px;
}

.partner-container .subtitle {
  color: #fff;
  margin-bottom: 36px;
}

.achievements {
  text-align: center;
}

.achive-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  max-width: 1360px;
  margin: 0 auto;
  margin-bottom: 130px;
}

.achive-list .achive-item {
  width: calc( 25% - 25px);
  background-color: rgba(47, 156, 255, 0.05);
  border-radius: 16px;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
}

.achive-list .a1 {
  background: url(../img/achive_bg1.svg) center center no-repeat;
  background-color: rgba(47, 156, 255, 0.05);
}

.achive-list .a2 {
  background: url(../img/achive_bg2.svg) center center no-repeat;
  background-color: rgba(47, 156, 255, 0.05);
}

.achive-list .a3 {
  background: url(../img/achive_bg3.svg) top center no-repeat;
  background-position-y: 40px;
  background-color: rgba(47, 156, 255, 0.05);
}

.achive-list .a4 {
  background: url(../img/achive_bg4.svg) center center no-repeat;
  background-color: rgba(47, 156, 255, 0.05);
}

.achive-list .achive-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #242424;
  margin: 270px 24px 24px 24px;
  max-width: 280px;
}

.achive-list .achive-text p {
  height: 100px;
}

.achive-list .achive-text span {
  color: #276ED8;
  font-weight: bold;
}

.partners {
  text-align: center;
  background: url(../img/partner_bg.png) center center no-repeat;
  background-size: 100% 100%;
  height: 1420px;
}

.partners .title {
  padding-top: 250px;
}

.partners .partner-list {
  max-width: 1360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.partners .partner-list .partner-item {
  width: 322px;
  height: 160px;
  background: #FFFFFF;
  box-shadow: 0px 3px 16px 4px rgba(29, 51, 107, 0.1);
  border-radius: 16px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contacts {
  text-align: center;
}

.contacts .subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #242424;
  margin-bottom: 20px;
}

.contacts h5 {
  margin-bottom: 110px;
}

.contacts-section {
  margin: 0 auto;
  max-width: 1360px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 170px;
}

.contacts-right {
  width: 40%;
  position: relative;
}

.contacts-left {
  width: 40%;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.contact-item p {
  margin-left: 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.contact-form {
  position: relative;
  margin: 0 auto;
  width: 70%;
  padding: 50px 40px 0 40px;
  background: #FFFFFF;
  box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
  border-radius: 6px;
}

.contact-form .button {
  margin-top: 10px;
  margin-bottom: 70px;
  background: #06B25F;
  width: 100%;
}

.contact-form .button:hover {
  background: #66D6A0;
}

.contact-form .button:focus {
  background: #194484;
}

.contact-form .form-input {
  background: #FFFFFF;
  border: 2px solid #D7D7D7;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 0 10px 15px;
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
}

.contact-form .form-input:focus {
  border-color: #06B25F;
}

.contact-form textarea {
  outline: none;
  resize: none;
}

.animate-1 {
  animation: 3s ease-in-out 1s infinite alternate ani1;
}

@keyframes ani1 {
  to {
    margin-left: -15%;
    margin-top: -15%;
  }
}

.animate-2 {
  animation: 3s ease-in-out 1s infinite alternate ani2;
}

@keyframes ani2 {
  to {
    margin-right: -15%;
    margin-top: -15%;
  }
}

.animate-3 {
  animation: 3s ease-in-out 1s infinite alternate ani3;
}

@keyframes ani3 {
  to {
    margin-left: -15%;
    margin-bottom: -15%;
  }
}

.ani1 {
  position: absolute;
  top: -35px;
  left: -35px;
}

.ani2 {
  position: absolute;
  right: -35px;
  top: -35px;
}

.ani3 {
  position: absolute;
  bottom: -35px;
  left: -35px;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-socials {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-socials a {
  text-align: start;
  width: calc( 33% - 25px);
  margin-right: 15px;
  margin-bottom: 25px;
}

.footer-socials svg {
  fill: #fff;
  transition: all 300ms ease-in-out;
}

.footer-socials svg:hover {
  fill: #66D6A0;
  transition: all 300ms ease-in-out;
}

footer {
  background: url(../img/footer-bg.png) center center no-repeat;
  background-size: 100% 100%;
  height: 700px;
}

footer .footer-block {
  margin-top: 350px;
}

footer ul li {
  margin-bottom: 3px;
}

footer a {
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

footer a:hover {
  text-decoration: underline;
}

footer .footer-title {
  font-family: Harabara;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

footer .footer-title .title-href {
  font-family: Harabara;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.footer-line-item {
  width: 15%;
  margin: 20px 0;
}

.footer-line-item:nth-child(1) {
  width: 70%;
}

.footer-line-item a {
  color: #242424;
}
/*# sourceMappingURL=style.css.map */